services:

  db:
    image: postgres:17.2-alpine3.21
    restart: always
    env_file:
      - ./env/postgres.env
    ports:
      - "5432:5432"
    volumes:
      - ./scripts:/docker-entrypoint-initdb.d
 
  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"